<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Reset Token</title>
  </head>
  <body>
    <p>
      <%= nickname %> you request a reset password token. Please follow the reset link below.
    </p>

    <a href=<%= link %>>Click here to reset your account password</a>

    <p>
      Reset Token: <%= token %>
    </p>
  </body>
</html>