<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Confirmation Token</title>
  </head>
  <body>
    <p>
      Thank you <%= nickname %> for signing. Please follow the confirmation link below.
    </p>

    <a href=<%= link %>>Click here to confirm your account</a>

    <p>
      Confirmation Token: <%= token %>
    </p>
  </body>
</html>