<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Confirmation Token</title>
  </head>
  <body>
    Thank you <%= nickname %> for signing. Please follow the confirmation link below.

    <a href=<%= link %>>Click here to confirm your account</a>
  </body>
</html>